@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <a class="btn btn-default">Get Pets by onwers list</a>
    </div>
    <div class="col-md-3">
        <h2>Results</h2>
        <ul>
        </ul>
    </div>
</div>
